/*
 * チェックボックス一覧。
 * このスタイルは、チェックボックスとは直接関係ないスタイルです。
 */
.checkbox-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  width: 100%;
  max-width: 320px;
  margin: 0 auto 120px;
  overflow: auto;
  padding: 8px;
  border: solid 1px #bdbdbd;
  border-radius: 8px;
  background-color: #fff
}

/*
 * チェックボックス全体
 */
.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  cursor: pointer;
  padding: 8px;
  width: fit-content;
  -webkit-user-select: none;
  user-select: none;
}

/**
 * チェックボックスのアイコン
 */
.checkbox_icon {
  appearance: none;

  width: 20px;
  height: 20px;
  position: relative;
  border: solid 2px #808080;
  border-radius: 4px;
  background: #FFFFFF;
  transition-property: background-color, border, box-shadow, color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1); /* easeOutQuint */
  box-shadow: 0 0 0 0 transparent;
}

/* 未選択時・選択済みのホバー演出 */
.checkbox:hover .checkbox_icon:not(:disabled) {
  border-color: #3223b3;
  box-shadow: 0 0 0 4px #d2ceff;
}

/* 選択済みのスタイル */
.checkbox_icon:checked {
  border-color: #3223b3;
  background: #3223b3;
}

/* 非活性のスタイル */
.checkbox_icon:disabled {
  opacity: 0.4;
}

/*
 * アイコンのチェックマーク
 */
.checkbox_icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  mask-image: url(icon.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  background-color: #b6b6b6;
  transition: background-color 0.3s cubic-bezier(0.22, 1, 0.36, 1); /* easeOutQuint */
}

/* 選択済みのスタイル */
.checkbox_icon:checked::before {
  background: #FFFFFF;
}

/*
 * テキスト
 */
.checkbox_text {
  color: #404040;
  transition: color 0.1s cubic-bezier(0.22, 1, 0.36, 1); /* easeOutQuint */
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}

/* 選択済みのスタイル */
.checkbox_text:is(.checkbox_icon:checked + *) {
  color: #3223b3;
}

/* 非活性のスタイル */
.checkbox_text:is(.checkbox_icon:disabled + *) {
  opacity: 0.4;
}
